<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        
        <div class="row mt-4">
            {% for image in images %}
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='uploads/' + image.filename) }}" class="img-fluid mb-3">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
